.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
}

.login-box {
  background: #1a1a1a;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

.login-box h1 {
  color: white;
  margin-bottom: 10px;
}

.login-subtext {
  color: #aaa;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-footer {
  color: #aaa;
  margin-top: 15px;
  font-size: 14px;
}

.login-footer span {
  color: white;
  cursor: pointer;
}

.divider {
  margin: 15px 0;
  color: #777;
  font-size: 12px;
}

.google-btn {
  width: 100%;
  padding: 10px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}